.loaderContainer {
  width: 100%;
}

.loader {
  height: 0.3rem;
  width: 100%;
  background-color: hsl(197, 100%, 46%);
  animation: fillLoader 1s ease-in-out infinite;
}

@keyframes fillLoader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

