@import "../../../globalStyles/variables.scss";

.sidebar {
  position: sticky;
  top: 0;
  z-index: 101;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $main_bg_color;
  color: $second_text_color;
  min-height: 100dvh;
  padding: 1.5rem 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: translateX(0.001rem);
  transition: all $main_transition;
}

.logotype {
  margin-bottom: 1rem;
}

.active {
  background-color: $active_bg_color;
  border-radius: $main_border_radius;
  color: $main_text_color;

  .nav_icon {
    filter: $active_filter;
  }
}

.link_wrapper {
  transition: background $main_transition;
  border-radius: $main_border_radius;

  position: relative;

  a {
    transition: color $main_transition;
    display: block;
    padding: 1rem 0.9rem;
    margin: 0.3rem 0rem;
    height: 100%;
    width: 100%;

    &:hover {
      color: $main_text_color;
    }

    &:hover .nav_icon {
      filter: brightness(0) invert(1);
    }
  }

  span {
    margin-left: 2.5rem;
  }
}

.line {
  width: 100%;
  height: 0.07rem;
  background-color: #333539;
  position: absolute;
  bottom: -1.1rem;
}

.lineAfterStatistics {
  margin-bottom: 2rem;
}

.nav_icon {
  position: absolute;
  left: 1rem;
  top: -0.1rem;
  bottom: 0;
  margin: auto 0;

  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .layout_wrapper {
    flex-direction: column;
  }

  .sidebar {
    min-height: auto;
    margin-bottom: 20px;
  }
}
