@import "normalize.css";
@import "./reset.scss";
@import "./variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  background-color: $body_bg_color;
  color: $main_text_color;
  font-family: $main_font_family;
}

.tile {
  background-color: $main_bg_color;
  border-radius: $main_border_radius;
  overflow: hidden;
}
