// Background Colors
$body_bg_color: #212224;
$main_bg_color: #28292c;
$second_bg_color: #333437;

$active_bg_color: #7789ea;

// Text Colors
$main_text_color: #fff;
$second_text_color: #68696b;

// Fonts
$main_font_family: 'Roboto', sans-serif;

// Border radiuses
$main_border_radius: 0.65rem;

// Transition
$main_transition: 0.2s ease;

// Filters
$active_filter: brightness(0) invert(1); 
