.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80dvh;
}

.title {
  font-size: calc((1vw + 1vh) * 2);
  text-align: center;
  color: #81b1ff;
  &::first-letter {
    text-transform: capitalize;
  }
}

.image {
  max-width: 70%;
  max-height: 55%;
  object-fit: cover;
  margin: 50px 10px;
  border-radius: 2rem;
}
