@import "../../../globalStyles//variables.scss";

.dashboard_top {
  display: flex;
  margin-right: 15px;
}

.dashboard_top_left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 24px;
  height: 100%;
  flex-wrap: wrap;
}

.dashboard_top_right {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.new_addition_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 15px 0px 24px;
}
