@import "../../../globalStyles//variables.scss";

.dashboard_top {
  display: flex;
  margin-right: 15px;
}

.dashboard_top_left {
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
  flex-wrap: wrap;
}

.dashboard_top_right {
  display: flex;
  flex-direction: column;
  width: 65%;
  flex-wrap: wrap;
}

.new_addition_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px 0px 24px;
}

.material_completed_wrapper {
   display: flex;
   margin-left: 24px;
}