@import "../../../globalStyles//variables.scss";

.dashboard_top {
  display: flex;
  margin-right: 15px;
}

.dashboard_top_left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 24px;
  height: 100%;
  flex-wrap: wrap;
}

.dashboard_top_right {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.new_addition_wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 15px 0px 24px;
}

@media screen and (max-width: 1275px) {
  .dashboard_top {
    flex-direction: column;
    margin: 0;
    max-width: 75vw;
  }
  .dashboard_top_left {
    width: 90%;
    margin: 0 auto;
  }
  .dashboard_top_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 902px) {
  .dashboard_top {
    flex-direction: column;
    margin: 0;
    max-width: 100vw;
  }
  .dashboard_top_left {
    width: 90%;
    margin: 0 auto;
  }
  .dashboard_top_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 475px) {
  .dashboard_top_right {
    margin-left: 0;
  }

  .new_addition_wrapper {
    margin-left: 16px;
  }
}
